  <!-- Navbar begins -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="small-logo-container">
            <div>
            <a class="small-logo" href="#"></a>
            <img class="amlogo" src="assets/anamaya144x144.png" alt="Anamaya">
            </div>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="#services">Anamaya</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#">Anamaya</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </div>
  <!-- Navbar ends -->
  <!-- Jumbotron begins -->
	<div class="jumbotron">
	<!--img class="flower" src="assets/flower.jpg" alt="Anamaya"-->
  		<div class="container">
      
  		</div>
  </div>
  <!-- Jumbotron ends -->
  <!-- thumblail begins -->
<div id="services" class="row row--services">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/lotus.png" alt="Lotus">
      <div class="caption">
        <h3>SAAMA</h3>
        <p>Terapia cuántica de desbloqueo.</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/lotus.png" alt="Lotus">
      <div class="caption">
        <h3>Flores de Bach</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/lotus.png" alt="Lotus">
      <div class="caption">
        <h3>Tapping</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</div> 
<!-- thumblail ends -->
<!-- parallax Buda Image begins -->
<section>
  <img class="anamayastory"  src="assets/balance.png">
</section>
<!-- parallax Buda Image ends -->
<!-- Footer begins -->  
<div class="footer">
  <div class="container-footer">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
  </div>
  <div>
    <img class="logo--saama" src="assets/terapeuta.web.png">
  </div>
</div>
 

